.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
    width: 100%;
}

.chat-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
}

.chat-input input {
    width: 70%;
    height: 50%;
    padding: 0 10px;
}

.chat-input button {
    width: 20%;
    height: 50%;
    background-color: green;
    color: white;
}
.message-left {
     text-align: left;
 }

.message-right {
    text-align: right;
}